
h1{
    text-align: center;
}
table{
    margin: auto;
    border: 15px solid black;
    border-style: groove;
}
tr, td{
    margin: 4px 4px;
}
tr{
    border: 4px solid rgb(114, 113, 113);
    border-style: outset;
}
td {
    border: 2px solid rgb(0, 0, 0);
    border-style: outset;
    height: 60px;
    width: 60px;
    text-align: center;
}
.house_black{
    background-color: rgb(68, 68, 68);
}
.house_white{
    background-color: rgb(175, 175, 175);
}
td:hover,tr:hover{
    border: 2px solid rgb(34, 155, 40);
    background-color:rgb(41, 173, 52);
}
#ask_black{
    height: 50px;
    width: 50px;
}
#ask_white{
    height: 50px;
    width: 50px;
}